

.container{
	position: relative;
}



.scoreboard{
	background-color: #d9edf7;
	border: 2px solid black;
	position: absolute;
	top: 60px;
	left: 300px;
	border-radius: 8px;
} 

.scoreboard p{
	font-size: 60px;
	text-align: center;
}

.start {
	position: absolute;
	top: 180px;
	left: 310px;
}

.stop {
	position: absolute;
	top: 180px;
	left: 310px;
}


.clear{
	position: absolute;
	top: 180px;
	left: 610px;
}